body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #1e1e1e;
  color: white;
  padding: 20px 10px;
}

label {
  position: absolute;
  left: -9999px;
}

header select,
header input,
#backToShows {
  width: 45%;
  padding: 12px;
  margin: 10px 5px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

#backToShows {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#backToShows:hover {
  background-color: #0056b3;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.show-card,
.episode-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  width: 300px;
  text-align: left;
  transition: transform 0.3s ease;
}

.show-card:hover,
.episode-card:hover {
  transform: scale(1.03);
}

.show-card img,
.episode-card img {
  width: 100%;
  border-radius: 10px;
}

.show-card h3,
.episode-card h3 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.show-card p,
.episode-card p {
  font-size: 14px;
  color: #555;
}

footer {
  background-color: #1e1e1e;
  color: white;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer a {
  color: #00ffff;
  text-decoration: underline;
  font-weight: bold;
}

footer a:hover {
  color: #00b3b3;
}

@media (max-width: 600px) {
  header select,
  header input,
  #backToShows {
    width: 90%;
  }

  .show-card,
  .episode-card {
    width: 90%;
  }
}
